# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# The indent size used in the `package.json` file cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[{*.yml,*.yaml,package.json}]
indent_style = space
indent_size = 2

# Makefiles
[Makefile, *.mk]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false

[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 4
tab_width = 4

# Source code files
[*.{c,cxx,cpp,h,hxx,hpp,java,m,mm,py,swift,xsl}]
indent_style = space
indent_size = 4
tab_width = 4

[*.{md,markdown}]
indent_size = 1
max_line_length = 128
trim_trailing_whitespace = false

[*.{sh,msx}]
indent_size = 2
indent_style = space
max_line_length = 160

[*.{yml,yaml}]
indent_size = 2
indent_style = space
max_line_length = 160
