/app/assets/javascripts/locale/**/app.js
/docs/themes/
/fixtures/lib/gitlab/graphql/
/node_modules/
/public/
/vendor/
/tmp/
/sitespeed-result/
/.mypy_cache/
/build/
.clang-tidy

# ignore stylesheets for now as this clashes with our linter
*.css
*.scss
*.ts

out
image
dist
bin
.vscode-test

Pipfile.lock
